
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:125px;
  height:400x;
  width:100%;
  position: relative;
  background-color: #5c679e;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
}
h2 {
  font-variant: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
}