
nav {
  display: flex;
  align-content: baseline;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
}

.title {
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: 'Bungee', sans-serif;
  align-self: center;
}

.newTweet {
  display: flex;
  align-self: center;
  font-family: 'Source Sans Pro', sans-serif;
  flex-direction: column;
  margin-left: 1.5em;
  margin-right: 1.5em;
 
}

.arrow {
  color: red;
  margin: 0 auto;
  padding: 3px;
}


